/**----------------------------------------------------------------------------
 file: $MAIN/templates/index.css

 revision history:
  20190830 (TE): initial version

 This file is the specific css stylsheet for the main page on the TechBlog
 site. It is used to fix and customize positions of different elements of the
 page.
----------------------------------------------------------------------------**/

/**------------------------ navbar cusomtizations --------------------------**/
/**                                                                         **/
/** set global variables **/
/**                      **/
:root {
    --grapefruit: #F26968;
    --moss: #323339;
    --verde: #6CBF84;
    --limestone: #DFE2D2;
    --rosa: #F2AD9f;
    --top-gradient: #C31432;
    --bottom-gradient: #240b36;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100%;
    background: linear-gradient(to bottom, #e6e9f0 0%, #eef1f5 100%) fixed;
}

/** remove underline from all links under header **/
/**                                              **/
header a {
    text-decoration: none;
}

/** set the header adjustments **/
/**                            **/
header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
}

/** title at the left of navbar **/
/**                             **/
.nav-title {
    font-style: bold;
    margin-left: 20px;
    font-size: 30px;
}

header a {
    color: black;
}

header a:hover {
    color: var(--grapefruit);
}

/** links at the right of the navbar **/
/**                                  **/
.nav-links a {
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
}
p {
    margin-top: 80px;
    padding: 40px;
}
.nav-item {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

/** set the navbar as a flex container **/
/**                                    **/
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
